<section id='carousel-landing'>

  {{#each Slides}}
    <div class='' id='textoslide'>
      <div class='carrusel-box text-white'>
        <h2>desde 1982</h2>
        <h1>Corralon Bianchi</h1>
        <h2>#elegiconfiar</h2>
      </div>
      <div style='width: 100%; display: inline-block;' class='slide'><img
          src='{{slideUrl}}'
          loading='lazy'
        />
      </div>
    </div>
  {{/each}}

</section>