
<section class="contact" id="contact">
    <h2 class="text-white negrita">Dejanos tu consulta</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form class="form">
                    <div class="form-group">
                        <label>
                            <h4>Nombre y Apellido</h4>
                        </label>
                        <input class="form-control" type="text" name="nombre" placeholder="Nombre y Apellido">
                    </div>
                    <div class="form-group">
                        <label>
                            <h4>Mail</h4>
                        </label>
                        <input class="form-control" type="email" name="nombre" placeholder="Ingrese su Email">
                    </div>
                    <div class="form-group">
                        <label>
                            <h4>Telefono / Whatsapp </h4>
                        </label>
                        <input class="form-control" type="text" name="nombre" placeholder="Ingrese su Telefono">
                    </div>
                    <div class="form-group">
                        <label>
                            <h4>Consulta </h4>
                        </label>
                        <input class="form-control" type="text" name="nombre" placeholder="Consulta">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-sm">
                <div> <img class="form-img" src="/img/home/form.png"></div>
            </div>

</section>