<section class="container my-5" id="servicios">
      <div class="row">
        <div class="col-sm-12 col-md-5 pr-4 wow animate__fadeIn animate__delay-3s animate__slow">
          <img class="img-fluid img-side w-100" src="/img/home/left.jpg" alt="imagen empresa derecha" />
        </div>
        <div class="col-sm-12 col-md-7 wow animate__fadeInLeft animate__delay-1s">
          <h5 class="subtitle">Que hacemos?</h5>
          <h3 class="title">Servicios y facilidades</h3>
          <div class="row my-4 wow animate__fadeInLeft animate__delay-2s px-4">
            <div class="col-sm-3 col-4">
              <div class="service-icons bg-light">
                <i class="fas fa-truck-loading fa-3x text-success"></i>
              </div>
            </div>
            <div class="col-sm-8 col-8">
              <div class="service-text">
                <h4 class="text-uppercase">Entregas en 24 hs</h4>
                <p class="font-weight-light">Contamos con servicio propio de distribucion</p>
              </div>
            </div>
          </div>
          <div class="row my-4 wow animate__fadeInLeft animate__delay-2s px-4">
            <div class="col-sm-3 col-4">
              <div class="service-icons bg-light">
                <i class="fab fa-whatsapp fa-3x text-success"></i>
              </div>
            </div>
            <div class="col-sm-8 col-8">
              <div class="service-text">
                <h4 class="text-uppercase">Atencion por Whatsapp</h4>
                <p class="font-weight-light">Lunes a Sabados de 9 a 15hs</p>
              </div>
            </div>
          </div>
          <div class="row my-4 wow animate__fadeInLeft animate__delay-3s px-4">
            <div class="col-sm-3 col-4">
              <div class="service-icons bg-light">
                <i class="fas fa-credit-card fa-3x text-success"></i>
              </div>
            </div>
            <div class="col-sm-8 col-8">
              <div class="service-text">
                <h4 class="text-uppercase">Metodos de Pago</h4>
                <p class="font-weight-light">Mercado Pago, Tarjetas de Debito y Credito </p>
              </div>
            </div>
          </div>
          <div class="row my-4 wow animate__fadeInLeft animate__delay-4s px-4">
            <div class="col-sm-3 col-4">
              <div class="service-icons bg-light">
                <i class="fas fa-warehouse fa-3x text-success"></i>
              </div>
            </div>
            <div class="col-sm-8 col-8">
              <div class="service-text">
                <h4 class="text-uppercase">Acopios por 6 meses</h4>
                <p class="font-weight-light">Guardamos tu material hasta que lo necesites</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>