 <section class="container my-5" id="somos">
    <div class="row" id="somos">
      <div class="col-md-7 wow animate__fadeInLeft animate__delay-2s">
        <h5 class="subtitle">Bienvenidos</h5>
        <h3 class="title">Quienes somos</h3>
        <p>Somos una empresa familiar ubicada en la localidad de
          Hurlingham desde sus comienzos. Experiencia, confianza
          y una larga trayectoria de más de 60 años en el rubro, son
          algunos de los aspectos que nos representan.
        <h4>Misión</h4>
        <p> en la atención al cliente, como también,
          adaptarnos a las exigencias de cada uno de ellos, para
          ser parte de la solución y no del problema. Simplificar el proceso de compra,para así brindar un servicio
          de excelencia.</p>
        <h4>Visión</h4>
        <p>Apuntar siempre a la transparencia. Enfocarnos en el
          servicio, con una respuesta rápida, respetuosa y coherente
          hacia el cliente. Entender que tenemos un rol importante en
          nuestra comunidad y somos parte del sueño de muchos
          clientes cuando eligen confiar en nosotros.</p>
        <h4>Valores</h4>
        <p>Respetar y defender nuestra historia. Tratar a cada uno de
          nuestros clientes como si fuera único.</p>
        </p>
      </div>
      <div class="col-md-5 pl-4 wow animate__fadeIn animate__delay-5s animate__slow">
        <img class="img-fluid img-side top" src="/img/home/right.jpg" alt="imagen empresa derecha" />
      </div>
    </div>
    </section>