<div class='card card-info'>
  <div class='card-header'>
    <h3 class='card-title'>Venta</h3>
  </div> <!--  card header-->
  <form class='form-horizontal' id='formVentas' role='form'>

    {{>panCli-merc}}
    {{>panCli-venta}}


  </form>