
<section class="parallax" id="plx2">
    <div id="carousel-partners" style="text-align: center; height: 100%; text-align: -webkit-center;">
                <div><img class="partners " src="/img/partners/1.png" alt=""></div>
                <div><img class="partners " src="/img/partners/2.png" alt=""></div>
                <div><img class="partners " src="/img/partners/3.png" alt=""></div>
                <div><img class="partners " src="/img/partners/4.png" alt=""></div>
                <div><img class="partners " src="/img/partners/5.png" alt=""></div>
                <div><img class="partners " src="/img/partners/6.png" alt=""></div>
                <div><img class="partners " src="/img/partners/7.png" alt=""></div>
                <div><img class="partners " src="/img/partners/8.png" alt=""></div>
        </ul>
    </div>
</section>