<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Remitos</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div hidden>
  <input type="text" id="remitoId" value='{{_id}}' >
</div>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-md-12 col-12">
        <!-- /.card-header -->
        <!-- form start -->
        <form
          class="form-horizontal"
          id="formRemitos"
        >
          <div class="card">
            <div class="card-header bg-teal">
              <h3 class="card-title">Listado de Remitos</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body w-100 table-responsive">
              <table class="table table-hover text-nowrap"
              id='tablaRemitos'
              >
                <thead>
                  <tr>
                    <th style="width: 70px">Fecha</th>
                    <th style="width: 120px">Cantidad De Bultos</th>
                    <th style="width: 120px">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.card-footer -->
          </div>
        </form>
      </div>
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="modal">Modificar Material</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" id="formEdit">
          <input type="text" id="clienteIdEdit" hidden />
          <div class="form-group row">
            <label
              for="nombreEdit"
              class="col-sm-2 col-form-label"
            >Material</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nombreEdit" />
            </div>
          </div>
          <div class="form-group row">
            <label for="aliasEdit" class="col-sm-2 col-form-label">Marca</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="aliasEdit" />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="telEdit"
              class="col-sm-2 col-form-label"
            >Precio</label>
            <div class="col-sm-10">
              <input
                type="tel"
                class="form-control"
                id="telEdit"
                maxlength="14"
              />
            </div>
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn font-weight-bold btn-warning mr-3"
          onclick="editarCliente()"
          data-dismiss="modal"
        >GUARDAR DATOS</button>
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-default"
        >Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalBorrar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalDel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="modalDel"></h5>
        <input type="text" hidden id="idBorrar" />
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Una vez eliminado el remito no podrá recuperar la información del
          mismo.</p>
        <p>Esta seguro que quiere eliminar el remito?</p>
      </div>
      <div class="modal-footer">
        <button
          class="btn font-weight-bold btn-danger mr-3"
          type="button"
          disabled
          id="borrarBtn"
          data-dismiss="modal"
          onclick="eliminarRemito()"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="sr-only">ELIMINAR</span>
        </button>
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-default"
        >Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script src="/dist/js/pages/remitos.js"></script>