<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Panel Cliente</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div><!-- /.content-header -->
<div class='container-fluid'>
  <div class='row'>

    {{>panCli-data}}
    {{>panCli-form}}
    {{>panCli-tabla}}
    {{>panCli-modals}}





  </div>
  <!--row -->
</div>
<!--container fluid-->

<script src='/dist/js/pages/panelClientes.js'></script>