<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Proveedores</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-12">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Alta de Proveedores</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form
            class="form-horizontal"
            id="formProveedor"
            action="/api/proveedores/create"
            method="POST"
            onsubmit="setTimeout(function () { uploadTable(); }, 100)"
          >
          <!-- /.card-header -->
          <div class="card-body">
            <form role="form" id="formProveedor">
              <div class="row">
                <div class="col-sm-3">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nombre del Proveedor</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingrese nombre del proveedor ..."
                      name= "nombre"
                      id="proveedor"
                      required
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Razón Social</label>
                    <input
                      type="text"
                      class="form-control"
                      name= "razonSocial"
                      placeholder="Ingrese la razón social ..."
                      id="razonSocial"
                      required
                    />
                  </div>
                </div>
                <div class="col-sm-2">
                  <!-- select -->
                  <div class="form-group">
                    <label>Tipo</label>
                    <select name= "tipo" class="form-control" id="tipo" required>
                      <option value="Productivo">Productivo</option>
                      <option value="No Productivo">No Productivo</option>
                      <option value="Impuestos">Impuestos</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <!-- text input -->
                  <div class="form-group">
                    <label>N° CUIT <small>(sin guiones)</small></label>
                    <input
                      type="number"
                      class="form-control"
                      name="cuit"
                      placeholder="N° CUIT"
                      id="cuit"
                      minlength="11"
                      min="9999999999"
                      maxlength="11"
                      pattern="\\d*"
                      required
                    />
                  </div>
                </div>
                <div class="col-sm-2">
                  <!-- select -->
                  <div class="form-group">
                    <label>Condicion Fiscal</label>
                    <select name="fiscal" class="form-control" id="condicionFiscal" required>
                      <option value="Responsable Inscripto">Responsable
                        Inscripto</option>
                      <option value="Consumidor Final">Consumidor Final</option>
                      <option value="IVA Exento">IVA Exento</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </div>
                </div>
              </div>
              <div id="listaProductos">
                <div class="row" id="columnaProducto">
                  <div class="col-sm-4">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Dirección</label>
                      <input
                        type="text"
                        name="adress"
                        class="form-control"
                        placeholder="Ingrese la dirección del proveedor"
                        id="direccion"
                      />
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Localidad</label>
                      <input
                        type="text"
                        name="localidad"
                        class="form-control"
                        placeholder="Ingrese la localidad del proveedor"
                        id="localidad"
                      />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <!-- tel input -->
                    <div class="form-group">
                      <label>Teléfono <small>(sin guiones)</small> </label>
                      <input
                        type="tel"
                        class="form-control"
                        name="tel"
                        placeholder="N° de teléfono"
                        id="tel"
                        minlength="5"
                        maxlength="14"
                      />
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Contacto</label>
                      <input
                        type="text"
                        name="contacto"
                        class="form-control"
                        placeholder="Ingrese el contacto"
                        id="contacto"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="float-right">
                <button
                  type="submit"
                  class="btn font-weight-bold btn-success mr-3"
                >INGRESAR PROVEEDOR</button>
                <button type="reset" class="btn btn-default">Cancelar</button>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-12 -->
    </div>

    <!-- row -->
    <div class="row">
      <div class="col-12">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Lista de Proveedores</h3>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="card-refresh"
                data-source="/api/proveedores/list"
                data-source-selector="#card-refresh-content"
                data-load-on-init="false"
              ><i class="fas fa-sync-alt"></i></button>
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              ><i class="fas fa-minus"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <table
              class="table table-head-fixed text-nowrap"
              id="tablaProveedores"
            >
              <thead>
                <tr>
                  <th>Nombre del Proveedor</th>
                  <th>Razón Social</th>
                  <th>CUIT</th>
                  <th style="max-width: 100px">Teléfono</th>
                  <th>Localidad</th>
                  <th>Tipo</th>
                  <th style="max-width: 60px">Modificar</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nombre del Proveedor</th>
                  <th>Razón Social</th>
                  <th>CUIT</th>
                  <th style="max-width: 100px">Teléfono</th>
                  <th>Localidad</th>
                  <th>Tipo</th>
                  <th style="max-width: 60px">Modificar</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Modal -->
<div
  class="modal fade"
  id="modalEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="modal">Modificar Material</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" id="formEdit">
          <input type="text" id="clienteIdEdit" hidden />
          <div class="form-group row">
            <label
              for="nombreEdit"
              class="col-sm-2 col-form-label"
            >Material</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nombreEdit" />
            </div>
          </div>
          <div class="form-group row">
            <label for="aliasEdit" class="col-sm-2 col-form-label">Marca</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="aliasEdit" />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="telEdit"
              class="col-sm-2 col-form-label"
            >Precio</label>
            <div class="col-sm-10">
              <input
                type="tel"
                class="form-control"
                id="telEdit"
                maxlength="14"
              />
            </div>
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn font-weight-bold btn-warning mr-3"
          onclick="editarCliente()"
          data-dismiss="modal"
        >GUARDAR DATOS</button>
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-default"
        >Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalBorrar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalDel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="modalDel"></h5>
        <input type="text" hidden id="idBorrar" />
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Una vez eliminado el cliente no podrá recuperar la información del
          mismo.</p>
        <p>Esta seguro que quiere eliminar el proveedor?</p>
      </div>
      <div class="modal-footer">
        <button
          class="btn font-weight-bold btn-danger mr-3"
          type="button"
          disabled
          id="borrarBtn"
          data-dismiss="modal"
          onclick="eliminarProveedor()"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="sr-only">ELIMINAR</span>
        </button>
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-default"
        >Cancelar</button>
      </div>
    </div>
  </div>
</div>
<script src="/dist/js/pages/proveedores.js"></script>