<!-- Content Header (Page header) -->
<div class='content-header'>
    <div class='container-fluid'>
        <div class='row mb-2'>
            <div class='col-sm-6'>
                <h1 class='m-0 text-dark'>Reportes 2023</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!-- Main content -->
<section id="reports" class='content'>
    <div class='container-fluid'>
        <div class='col-12'>
            <!-- /.card-header -->
            <div class='card-body table-responsive'>
                <table style="font-size: 14px;" class='table table-striped table-head-fixed text-nowrap tablaReports'
                    id='tablaReports'>
                    <thead>
                        <tr>
                            <th>Saldo Inicial</th>
                            <th> 2023-1 </th>
                            <th> 2023-2</th>
                            <th> 2023-3</th>
                            <th> 2023-4</th>
                            <th> 2023-5</th>
                            <th> 2023-6</th>
                            <th> 2023-7</th>
                            <th> 2023-8</th>
                            <th> 2023-9</th>
                            <th> 2023-10</th>
                            <th> 2023-11</th>
                            <th> 2023-12</th>
                        </tr>
                    </thead>
                    <thead id="theadMes">
                        <tr>
                            <th class="thMes">Mes</th>
                            <th class="thMes"> Enero </th>
                            <th class="thMes"> Febrero</th>
                            <th class="thMes"> Marzo</th>
                            <th class="thMes"> Abril</th>
                            <th class="thMes"> Mayo</th>
                            <th class="thMes"> Junio</th>
                            <th class="thMes"> Julio</th>
                            <th class="thMes"> Agosto</th>
                            <th class="thMes"> Septiembre</th>
                            <th class="thMes"> Octubre</th>
                            <th class="thMes"> Noviembre</th>
                            <th class="thMes"> Diciembre</th>
                        </tr>
                    </thead>
                    <tbody class="cacaloca">
                    </tbody>
                    <tfoot align="right">
                        <tr class="trow" id="trow">
                            <th>Totales</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="row">
        <div class="col-4" id="">
            <div class="card-body">
                <canvas id="cementosGraph" width="200" height="200"></canvas>
            </div>
        </div>
        <div class="col-4" id="">
            <div class="card-body">
                <canvas id="ventasGraph" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>



<script src="/plugins/chartjs/Chart.min.js"></script>
<script src='/dist/js/pages/reports.js'></script>